@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300&display=swap');




* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    background-color: rgb(255 241 242);


}

.navbar {
    height: 10vh;
    background-color: rgb(156 163 175);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}


.right ul {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.right ul li {
    list-style: none;

}

.right ul li :hover {
    background-color: rgb(203 213 225);

}


.right ul li a {
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    border-radius: 10px;

}

.btn {
    padding: 1rem;
    border: none;
    font-family: "Quicksand", sans-serif;
    background-color: rgb(192 132 252);
    font-weight: 800;
    border-radius: 10px;
}

.btn:hover {
    background-color: rgb(216 180 254);
}

.logo {
    font-family: "Dancing Script";
    font-size: 1.5rem;
}

.second-container {
    margin-top: 4rem;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    height: 30vh;
}

.aside-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 2rem;

}

.aside-right {
    width: 50%;
    display: flex;
    justify-content: center;
   
}

.img{
    width: 70%;
}

.img img{
    width: 100%;
}

.items{
    border: 2px solid black;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
}
.p-img {
    width: 50%;
    /* height: 20%; */
    /* border: 1px solid black; */

}
.p-img img{
    width: 100%;

}

.procjets{
    margin-top: 2rem;
display: flex;
gap: 2rem;

}

.third-container{
    text-align: center;
}